[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb
[submodule "ThirdParty/assimp_lib"]
	path = ThirdParty/assimp_lib
	url = https://github.com/assimp/assimp
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "ThirdParty/Box2D"]
	path = ThirdParty/Box2D
	url = https://github.com/erincatto/Box2D
